~/projects/sekah_sdaia/ckpt_best.pth filter=lfs diff=lfs merge=lfs -text
/home/user/projects/sekah_sdaia/sekah_sdaia/ckpt_best.pth filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
